ds/commons/src/main/resources/xsd/policies.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xacml="urn:oasis:names:tc:xacml:3.0:core:schema:wd-17" xmlns:pap="urn:sunfish:pap"
	targetNamespace="urn:sunfish:pap" elementFormDefault="qualified">

	<xs:import schemaLocation="xacml-core-v3-schema-wd-17.xsd"
		namespace="urn:oasis:names:tc:xacml:3.0:core:schema:wd-17" />

	<xs:element name="Policies" type="pap:PoliciesType" />
	<xs:complexType name="PoliciesType">
		<xs:sequence>
			<xs:element name="RootPolicy" type="xs:boolean" />
			<xs:element ref="xacml:Policy" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>



</xs:schema>
